table {
    margin: 3.5rem 1rem;
    width: 45rem;
}

td {
    padding: 0.5rem;
}

editor {
    align-items: stretch;
    align-content: space-between;
    border: 1px solid gray;
    border-radius: 0.5rem;
    display: flex;
    margin: 3.5rem 1rem;
    padding-bottom: 1rem;
    width: 45rem;
}

editor > div {
    flex: 1;
    padding: 10px;
}

editor > div > input {
    padding: 0.5rem;
}

editor button {
    padding: 0.5rem;
}