table {
    margin: 50px 0;
    width: 400px;
}

td {
    padding: 8px;
}

editor {
    width: 100%;
    display: flex;
    align-items: stretch;
    align-content: space-between;
}

editor > div {
    flex: 1;
    padding: 10px;
}

editor > div > input {
    padding: 5px;
}